.vs/finalProjectC/v16/Browse.VC.opendb
.vs/finalProjectC/v16/Browse.VC.db-wal
.vs/finalProjectC/v16/Browse.VC.db-shm
*.db
*.suo
*.user
*.ipch
*.log
*.idb
*.pdb
*.tlog
x64/Debug/implementation.obj
x64/Debug/implementation.obj.enc
x64/Debug/participants.obj
x64/Debug/finalProjectC.vcxproj.FileListAbsolute.txt
x64/Debug/utils.obj
x64/Debug/finalProjectC.ilk
x64/Debug/finalProjectC.exe
x64/Debug/ColList.obj
*.rej
*.obj
Debug/finalProjectC.vcxproj.FileListAbsolute.txt
Debug/finalProjectC.exe
Debug/finalProjectC.ilk
enc_temp_folder/8a09eba5f90ad65f6c9cccc6bfb964c/implementation.c
~$Structs relations.pptx
enc_temp_folder/8a09eba5f90ad65f6c9cccc6bfb964c/implementation.c
enc_temp_folder/8a09eba5f90ad65f6c9cccc6bfb964c/implementation.c
enc_temp_folder/8a09eba5f90ad65f6c9cccc6bfb964c/implementation.c
finalProjectC.xcodeproj/project.xcworkspace/xcuserdata/avital.rubichi.xcuserdatad/xcdebugger/Expressions.xcexplist
finalProjectC.xcodeproj/xcuserdata/avital.rubichi.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
